---
import { formatDate } from "@/utils/date";
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
---

<article
  class="group flex cursor-pointer items-center justify-between border-b border-border/40 py-6 transition-all last:border-0"
>
  <div>
    <a
      href={`/posts/${post.id}`}
      class="text-lg font-semibold text-foreground/80 transition-all group-hover:text-primary"
    >
      {post.data.title}
    </a>
    <p
      class="mt-2 font-mono text-[11px] text-muted-foreground italic opacity-60"
    >
      {formatDate(post.data.createdAt)} — {post.data.category}
    </p>
  </div>
  <span
    class="text-border transition-all group-hover:translate-x-1 group-hover:text-primary"
  >
    →
  </span>
</article>
