---
import site from "@/config/site";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title={site.meta.title} description={site.meta.description}>
  <h1>Astro</h1>
</BaseLayout>
