---
import "@/styles/global.css";

import BaseHead from "@/components/BaseHead.astro";
import { siteConfig } from "@/config/site";
import type { SeoMeta } from "@/types/site";

interface Props extends SeoMeta {}
---

<html lang={siteConfig.language}>
  <head>
    <BaseHead {...Astro.props}>
      <slot name="head" />
    </BaseHead>
  </head>
  <body>
    <slot />
  </body>
</html>
